<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard Temperatura Dos Paineis Fila C</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!--<link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet" >
    <link href="{{url_for('static', filename='reset.css')}}" rel="stylesheet" >-->
                           
</head>

<body >


    <div class="row">        
        <div class="col-md-12">
            <header>
            <img src="https://www.continental-aftermarket.com/media/1027/3-1-header-continental-marken-overview.png" alt="Logo" width="1700" height="180" class="d-inline-block align-text-top">
            <!--<img src="{{url_for('static',filename='head_C.png')}}" alt="Logo" width="1712" height="180" class="d-inline-block align-text-top">-->
            </header>        
        </div> 
    </div>
    
    </div class="row">
        <div class="col-md-12">
            <div class="align-self-center">
                <span class="fs-1">DashBoard Temperatura Painel</span>
            </div>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                        <li class="nav-item">
                            <h5><a class="nav-link text-warning" href="\FILA_B">FILA B</a></h5>
                        </li>                            
                        <li class="nav-item">
                            <h5><a class="nav-link text-warning" href="\FILA_D">FILA D</a></h5>
                        </li>                   
                        </ul>
                    </div>
                </div>            
            </nav>
        </div>
    </div>

        <main class="container-fluid">

            <div class="row row-cols-1 row-cols-md-6 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">KM 1C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{KM1C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
                </div>            
    
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">PU 1C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{PU1C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
                </div>
    
                 <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">KM 2C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{KM2C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">PU 2C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{PU2C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">KM 3C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{KM3C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
                </div>
    
               <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">PU 3C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{PU3C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">KM 4C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{KM4C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
                </div>
    
               <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">PU 4C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{PU4C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">KM 5C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{KM5C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
                </div>
    
               <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">PU 5C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{PU5C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">KM 6C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{KM6C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
                </div>
    
               <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">PU 6C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{PU6C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">KM 7C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{KM7C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
                </div>
    
               <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">PU 7C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{PU7C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
               </div>
    
    
               <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">KM 8C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{KM8C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
                </div>
    
               <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h5 class="my-0 fw-normal">PU 8C</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{PU8C_Temperatura}}<small
                                    class="text-body-secondary fw-light">Cº</small></h4>
                        </div>
                    </div>
               </div>
    

                       <div class="col">

                       </div>

                       <div class="row align-items-center">
                            <div class="col">
                                <div class="card mb-4 rounded-3 shadow-sm">
                                    <div class="card-header py-3">
                                        <h5 class="my-0 fw-normal">RETORNAR HOME</h5>
                                    </div>
                                        <div class="card-body">
                                            <a href="\">
                                                <button type="button" class="btn btn-secondary btn-lg">HOME</button>
                                            </a>
                                        </div>  
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <!--<div class="row align-items-center">
                            <div class="card-body">
                                <a href="\">
                                    <button type="button" class="btn btn-secondary btn-lg">HOME</button>
                                </a> 
                            </div>                            
                        </div>-->   
                 </div>
                </div>

        </main>

    </div> <!--Fim Container principal-->



        <footer class="pt-4 my-md-1 pt-md-5 border-top">
             <figure class="text-letf">
      <blockquote class="blockquote">
        <p>Continental 2023 Eng02  </p>
      </blockquote>
             </figure>
      </footer>
    </div>

   <script>
        setTimeout(() => {
            window.location.reload(true)
        }, 30000)

    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
    <!--<script src="/templates/assets/js/bootstrap.bundle.min.js"></script>-->

</body>

</html>