
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Adiciona o 'border-box' para elementos de caixa de modelo */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Corrige estilos que o IE aplica incorretamente */
mark {
  background-color: transparent;
  color: inherit;
}

/* Corrige e oculta elementos que devem ser ocultos */
[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* Limpa elementos de tabela */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
